/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  margin: 0 auto;
  max-width: 1400px;
}


ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* menu */

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu-item:hover {
  background-color: #CFD8DC;
}

#menu-toggle {
  opacity: 0;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu-btn {
  display: none;
  align-items: center;
  position: absolute;
  top: 27px;
  right: 70px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
 
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}

#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  left: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 22px;
  max-width: 1400px;
  min-width: 320px;
}

.header__wrapper {
  min-width: 79%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 19px 0 19px 0;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 237px;
}

.header__logo:hover {
  opacity: 0.8;
}

.logo__image {
  margin-right: 16px;
}

.logo__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  color: #173A56;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: space-between;
  margin-right: 22px;
  width: 35%;
}

.nav__item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
}

.nav__item:hover {
  opacity: 0.8;
}

._active-button {
  font-weight: 600;
}

.header__auth {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173A56;
  padding: 10px 23px 9px 25px;
  border: 1px solid #BCD0E5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 22px;
  white-space: nowrap;
}

.header__auth:hover {
  opacity: 0.8;
}

.header__theme:hover {
  opacity: 0.8;
}

._primary-btn {
  background: #02897A;
  border-radius: 4px;
  color: white;
  white-space: nowrap;
}

/* main */

.main  {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  min-width: 320px;
  /* padding: 0px 150px 0 145px; */
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 14px;
  margin-bottom: 110px;
  width: 78%;
}

.intro_content {
  padding-top: 120px;
  width: 41%;
}

.introduction__image {
  max-width: 600px;
  max-height: 555px;
}

.management__image {
  max-width: 539px;
  max-height: 478px;
}

.customer__image {
  max-width: 543px;
  max-height: 500px;
}

.introduction-container__img {
  max-width: 600px;
  max-height: 556px;
}

.collaborative__image {
  max-width: 542px;
  max-height: 452px;
}


.introduction-container__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.introduction__title__value {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #22343D;
  margin-bottom: 18px;
  width: 85%;
}

.introduction__description__value {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #22343D;
  margin-bottom: 56px;
}

.watch__button  {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.watch__button:hover {
  opacity: 0.8;
}

.watch__button__icon {
  margin-right: 8.5px;
}

.get__button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 41px 14px 41px;
  margin-right: 30px;
}

.get__button:hover {
  opacity: 0.8;
}

.watch__button__value {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: solid underline #02897A 2px;
  color: #02897A;
  white-space: nowrap;
}

/* benefits */

.benefits {
  display: flex;
  flex-direction: column;
  width: 79%;
  margin-bottom: 235px;
  background: url("./img/Bg\ \(1\).png") no-repeat center bottom;
}

.benefits__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
  margin-bottom: 64px;
}

.benefits__title__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343D;
  width: 46%;
  padding: 0px 15px 0px 56px;
  letter-spacing: 0.3px;
}

.benefits__cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 22%;
}

.benefits__cards__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
  margin-bottom: 33px;
}

.benefits-card__image {
  margin-bottom: 19px;
  max-width: 50px;
}

.card__title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343D;
  margin-bottom: 14px;
}


.benefits-card__description {
  max-width: 240px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

.benefits__button {
  width: 97%;
  display: flex;
  max-width: 1095px;
  justify-content: center;
  padding-left: 32px;
}

.sing-up__button {
  padding: 15px 32px 14px 34px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.sing-up__button:hover {
  opacity: 0.8;
}

/* management */

.management {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 79%;
  margin-bottom: 145px;
}

.management__info {
  padding-top: 25px;
  width: 42%;
}

.management__subtitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
}

.management__title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
  margin-bottom: 28px;
}

.management__description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin-bottom: 37px;
}

.management__image {
  width: 48%;
}

/* customer */

.customer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 79%;
  margin-bottom: 145px;
}

.customer__info {
  width: 43%;
  padding: 39px 0px 0px 90px;
}

.customer__subtitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
}

.customer__title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
  margin-bottom: 28px;
}

.customer__description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin-bottom: 34px;

} 

.customer__paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin-bottom: 30px;
}

.paragraph__image {
  margin-right: 30px;
}

/* collaborative */

.collaborative {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 79%;
  margin-bottom: 141px;
}

.collaborative__info {
  width: 42%;
  padding-top: 20px;
}

.collaborative__subtitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  margin-bottom: 10px;
}

.collaborative__title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
  margin-bottom: 20px;
}

.collaborative__description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin-bottom: 30px;
}


/* .process  */

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 52px 0px 0px 73px;
  margin-bottom: 151px;
  background: url("./img/Bg\ \(2\).png") no-repeat top;
}

.process__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38%;
  margin-bottom: 30px;
}

.process__title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343D;
  margin-bottom: 16px;
}

.process__description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #22343D;
}

.process__dialogs {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
  padding-bottom: 27px;
}

.process__phase {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  justify-content: space-around;
  margin-bottom: 16px;
}

.process__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2F281E;
  padding: 15px 18px 14px 22px;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
}

.process__btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 15px 31px 14px 30px;
  white-space: nowrap;
}

.process__btn:hover {
  opacity: 0.8;
}

/* strategies */


.strategies {
  display: flex;
  flex-direction: column;
  width: 79%;
  margin-bottom: 150px;
}

.strategies__title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  margin-bottom: 10px;
}

.strategies__description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  margin-bottom: 31px;
}

.strategies__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 67px;
}

.strategies_icon {
  width: 100%;
}

.strategies__date {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
  padding-left: 30px;
  margin-bottom: 10px;
}

.strategies__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
  padding-left: 25px;
  margin-bottom: 25px;
}

.strategies__text:hover {
  color: #02897A;
}

.strategies__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 31.5%;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
}

.strategies__image {
  margin-bottom: 20px;
  border-radius: 8px 0 0 8px;
}

.strategies__selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* price */

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79%;
  margin-bottom: 150px;
}

.price__title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  margin-bottom: 10px;
}

.price__description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  margin-bottom: 49px;
  white-space: nowrap;
}

.price__cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.price__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 24px 75px 32px 73px;
}

.price__card:hover {
  background: #02897A;
}

.price__card:hover .price__subtitle {
  color: white;
}

.price__card:hover .price__subdescription {
  color: white;
}

.price__card:hover .price__value {
  color: white;
}

.price__card:hover .price__symbol {
  color: white;
}

.price__card:hover .price__month {
  color: white;
}

.price__card:hover .price__item {
  color: white;
}

.price__card:hover .price__btn {
  background: white;
  color: #02897A;
}

.price__subtitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 10px;
}

.price__subdescription {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 13px;
}

.price__cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.price__value {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897A;
}

.price__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price__symbol {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #02897A;
  padding-left: 5px;
}

.price__month {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #AFAFAF;
}

.price__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 22px;
}

.price__item {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #22343D;
  margin-bottom: 16px;
}

.price__btn {
  padding: 11px 19px 11px 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}


/* form */

.form {
  display: flex;
  flex-direction: column;
  padding: 51px 50px 52px 50px;
  border: 1px solid #DDDDDD;
  margin-bottom: 340px;
  border-radius: 20px;
  width: 60%;
}

.form__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 45px;
}

.form__input {
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  padding: 19px 20px 19px 20px;
  border-radius: 39px;
  margin-bottom: 45px;
}

.form__input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #22343D;
}

.form__area {
  padding: 23px 0px 154px 20px;
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  margin-bottom: 45px;
}

.form__area::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #22343D;
}

.form__btn {
  border-radius: 35px;
  font-family: 'Roboto', sans-serif;
  padding: 18px 54px 18px 54px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 16px;
  letter-spacing: 0.2px;
  max-width: 145px;
}

.form__btn:hover {
  opacity: 0.8;
}

/* footer */

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 1400px;
  min-width: 320px;
}

.footer__wrapper {
  width: 79%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 0 19px 0;
  justify-content: space-between;
}

.footer__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 25px;
}

.footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.footer__logo:hover {
  opacity: 0.8;
}

.footer__image {
  margin-right: 13px;
}

.footer__icon {
  margin-right: 16px;
}

.footer__icon:hover {
  opacity: 0.8;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 145px;
}

.footer__resource {
  margin-right: 172px;
}

.footer__legal {
  margin-right: 85px;
}

.footer__item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 35px;
  color: #22343D;
}

.footer__item:hover {
  opacity: 0.8;
}

._active_list {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}

.footer__input {
  background: #FFFFFF;
  border: 1px solid #BCD0E5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 135px 15px 12px;
  margin-bottom: 20px;
}

.footer__title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343D;
  margin-bottom: 30px;
}

.footer__btn {
  padding: 8px 15px 7px 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.footer__btn:hover {
  opacity: 0.8;
}

.footer__description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #22343D;
}

@media (max-width: 1024px) {

  .header__menu {
    display: flex;
    margin-left: auto;
  }

  .menu-btn {
    display: flex;
  }

  .nav {
    display: none;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__auth {
    display: none;
  } 

  .header__theme {
    display: none;
  }

  .intro {
    flex-direction: column-reverse;
    align-items: center;
  }

  .intro_content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introduction__description__value {
    width: 80%;
  }

  .management {
    flex-direction: column-reverse;
    align-items: center;
  }

  .management__info {
    width: 80%;
  }

  .customer {
    flex-direction: column;
    align-items: center;
  }

  .customer__info {
    width: 80%;
    padding-top: 50px;
  }

  .collaborative {
    flex-direction: column-reverse;
    align-items: center;
  }

  .collaborative__info {
    width: 80%;
  }

  .strategies__cards {
    flex-direction: column-reverse;
    align-items: center;
  }

  .strategies__card {
    width: 76%;
    margin-bottom: 50px;
  }

  .price__cards {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .price__card {
    width: 40%;
    margin-bottom: 50px;
  }

  .benefits {
    width: 95%;
  }

  .process {
    padding: 0;
  }

  .form {
    margin-bottom: 100px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
  }

  .footer__socials {
    margin-bottom: 30px;
  }

  .footer__resource {
    margin-bottom: 30px;
  }

  .footer__legal {
    margin-bottom: 30px;
  }

  .footer__title {
    min-width: 250px;
  }
}

@media (max-width: 320px) {

  .menu-btn {
    right: 30px;
  }

  .header__wrapper {
    min-width: 90%;
  }

  .introduction__title__value {
    width: 99%;
  }

  .introduction__description__value {
    width: 95%;
  }

  .introduction-container__buttons {
    flex-direction: column;
    align-items: center;
  }

  .get__button {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .benefits__title__text {
    width: 90%;
    padding: 0;
  }

  .benefits {
    width: 80%;
  }

  .benefits__cards__container {
    flex-direction: column;
    align-items: center;
    width: 99%;
  }

  .benefits__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
  }

  .benefits-card__description {
    width: 80%;
  }

  .benefits {
    flex-direction: column;
    align-items: center;
    width: 99%;
    margin-bottom: 50px;
  }

  .collaborative {
    margin-bottom: 50px;
  }

  .process__image {
    margin: 15px;
  }

  .benefits__button {
    width: 97%;
    padding-left: 0;
  }

  .process__content {
    width: 80%;
  }

  .process__phase {
    width: 100%;
    margin-bottom: 30px;
  }

  .intro_content {
    padding-top: 60px;
  }

  .process__dialogs {
    width: 90%;
    align-items: center;
    flex-direction: column;
  }

  .customer {
    width: 100%;
    margin-bottom: 50px;
  }

  .intro {
    padding-left: 0px;
  }

  .collaborative {
    width: 100%;
  }

  .intro_content {
    width: 100%;
  }

  .customer__info {
    padding: 0;
  }

  .strategies__card {
    width: 100%;
  }

  .price__card {
    width: 50%;
  }

  .management {
    margin-bottom: 50px;
  }

  .management__info {
    width: 100%;
  }

  .form__title {
    min-width: 205px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer__wrapper {
    width: 85%;
  }

  .footer__form {
    width: 100%;
  }

  .footer__input {
    padding: 15px 60px 15px 12px;
  }

  .footer__socials {
    margin-right: 0;
  }

  .footer__resource {
    margin-right: 0;
  }

  .footer__legal {
    margin-right: 0;
  }
}

@media (max-width: 1350px) {
  .nav {
    display: none;
  }
}
